.contacts {
  display: flex;
  width: 100%;
  color: #afb2b7;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.contacts > span {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
}

.icons {
  display: flex;
  column-gap: 10px;
}

.icons > div {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  transition: cubic-bezier(0, 0, 1, 1) 100ms;
  justify-content: center;
}

.icons > div:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
