.searchBar {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 16px;
}

.searchBar > label {
  display: flex;
  background-color: #3a3b3c;
  align-items: stretch;
  border-radius: 50px;
  width: 280px;
}

.searchBar > label > input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 9px;
  font-size: 15px;
  font-stretch: 100%;
  color: rgb(228, 230, 235);
  font-family: Helvetica, Arial, sans-serif;
}

.searchBar > label > svg {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12px;
}
