.formContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  min-height: 100vh;
  z-index: 1;
  width: 100%;
  padding: 56px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.form {
  background-color: #242526;
  width: 500px;
  border-radius: 8px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.formContainer.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.overlayActive {
  opacity: 1;
  pointer-events: all;
}

/* --------------------------------------------First container styling-------------------------------------------- */

.createPost {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ffffff0d;
}

.createPostText {
  font-weight: 700;
  font-size: 20px;
  color: #e4e6eb;
  margin-left: auto;
  height: 60px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.closeFormButton {
  display: flex;
  cursor: pointer;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  width: 36px;
  background-color: rgba(255, 225, 225, 0.1);
  height: 36px;
  transition: cubic-bezier(0, 0, 1, 1) 100ms;
  border-radius: 50%;
}

.icon {
  -webkit-filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg)
    brightness(90%) contrast(96%);
  font-size: 13px;
}

.privacy {
  display: flex;
  column-gap: 11px;
  padding: 16px 0;
  margin: 0 16px;
  color: #e4e6eb;
  align-items: center;
}

.privacy > div:nth-child(1) {
  position: relative;
  display: flex;
}

.privacy > div:nth-child(1) > div {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  transition: cubic-bezier(0, 0, 1, 1) 100ms;
  inset: 0;
}

.privacy > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.privacy > div:nth-child(2) > span {
  font-weight: 600;
  font-size: 15px;
  width: 100%;
}

.options {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  justify-content: center;
  padding: 4px 8px;
  width: min-content;
  height: min-content;
  cursor: pointer;
  column-gap: 4px;
}

.options > div {
  display: flex;
}

.options > span {
  font-size: 13px;
  font-weight: 600px;
  display: flex;
}

/* --------------------------------------------Second container styling-------------------------------------------- */
.secondContainer {
  flex-grow: 1;
}

.biggerTextArea {
  display: flex;
  padding: 0 16px;
  height: 100%;
  width: 100%;
  position: relative;
}

.biggerTextArea > textarea {
  width: 100%;
  resize: none;
  background-color: transparent;
  border: none;
  font-weight: 400;
  color: #e4e6eb;
  font-size: 24px;
}

.biggerTextArea > textarea::placeholder {
  color: #b0b3b8;
  font-size: 24px;
}

.biggerTextArea > textarea::-webkit-scrollbar,
.textArea > textarea::-webkit-scrollbar {
  display: none;
}

.biggerTextArea > div:nth-child(1),
.biggerTextArea > div:nth-child(3),
.smileyFace {
  align-self: flex-end;
  position: absolute;
  cursor: pointer;
  display: flex;
}

.biggerTextArea > div:nth-child(3),
.smileyFace {
  right: 1rem;
}

.textArea {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.textArea > textarea {
  resize: none;
  background-color: transparent;
  border: none;
  font-weight: 400;
  color: #e4e6eb;
  font-size: 15px;
  width: 100%;
}

.textArea > textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #b0b3b8;
}

.textArea > textarea:focus,
.biggerTextArea > textarea:focus {
  border: none;
  outline: none;
}

.textArea > div {
  display: flex;
  align-self: flex-start;
}

.textArea > div > svg,
.biggerTextArea > div:nth-child(3) {
  transition: cubic-bezier(0, 0, 1, 1) 100ms;
  border-radius: 50%;
  opacity: 0.7;
  fill: #eeeeee;
  cursor: pointer;
}

.textArea > div > svg:hover,
.biggerTextArea > div:nth-child(3):hover {
  opacity: 1;
}

.pictureAddingArea {
  position: relative;
  border: 1px solid #3e4042;
  margin: 2rem 12px 0 12px;
  border-radius: 8px;
  color: #e4e6eb;
}

.pictureAddingArea > div > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin: 8px;
  inset: 0;
}

.closeDragDrop {
  position: absolute;
  top: 12px;
  cursor: pointer;
  right: 10px;
  transition: cubic-bezier(0, 0, 1, 1) 100ms;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureAddingArea > div:first-child {
  border-radius: 8px;
  cursor: pointer;
  margin: 8px 8px 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
  max-height: 221px;
  transition: cubic-bezier(0, 0, 1, 1) 100ms;
  justify-content: center;
  background-color: #323436;
}

.imageHolder,
.imageHolder > img {
  height: 100%;
  width: 100%;
}

.pictureAddingArea > div:first-child > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff1a;
  height: 40px;
  width: 40px;
}

.pictureAddingArea > div:first-child > div:nth-child(3) {
  font-size: 17px;
  font-weight: 600;
  color: #e4e6eb;
}

.pictureAddingArea > div:first-child > div:nth-child(4) {
  font-size: 12px;
  font-weight: 400;
  color: #b0b3b8;
}

.photosFromHome {
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  margin: 8px;
  padding: 12px 8px 8px 12px;
  background-color: #323436;
  align-items: center;
  position: relative;
}

.photosFromHome > div:first-child {
  height: 40px;
  min-width: 40px;
  background-color: #47494a;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.photosFromHome > div:first-child > svg {
  width: 30px;
  height: 30px;
}

.photosFromHome > div:nth-child(2) {
  margin-left: 8px;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
}

.photosFromHome > div:nth-child(3) {
  padding: 4px 12px;
  background-color: #47494a;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  height: 36px;
  transition: cubic-bezier(0, 0, 1, 1) 100ms;
  display: flex;
  align-items: center;
}

/* --------------------------------------------Third container styling-------------------------------------------- */

.thirdContainer {
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
}

.thirdContainer > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #3e4042;
  border-radius: 8px;
  margin: 0px 12px;
}

.thirdContainer > div > div:nth-child(1) {
  font-weight: 600;
  font-size: 15px;
  color: #e4e6eb;
  padding: 0 8px;
}

.thirdContainer > div > div:nth-child(2) {
  display: flex;
}

.thirdContainer > div > div:nth-child(2) > div {
  margin: 2px;
  height: 36px;
  display: flex;
  align-items: center;
  transition: cubic-bezier(0, 0, 1, 1) 100ms;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
}

.thirdContainer > div:nth-child(2),
.thirdContainer > .blueDiv {
  background-color: rgb(255, 255, 255, 0.2);
  cursor: not-allowed;
  border-radius: 6px;
  margin: 16px 12px 0px 12px;
}

.thirdContainer > div:nth-child(2) > button,
.thirdContainer > div:nth-child(2) > .blueButton {
  width: 100%;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 6px;
  border: none;
  color: white;
  pointer-events: none;
  font-size: 15px;
  font-weight: 600;
  height: 36px;
}

.thirdContainer > div:nth-child(2) > .blueButton {
  background-color: rgb(35 116 225);
  cursor: pointer;
}

.thirdContainer > .blueDiv {
  background-color: rgb(35 116 225);
  pointer-events: all;
  position: relative;
}

.thirdContainer > div:nth-child(2) > div {
  transition: cubic-bezier(0, 0, 1, 1) 100ms;
  border-radius: 6px;
  position: absolute;
  cursor: pointer;
  inset: 0;
}

.thirdContainer > div > div:nth-child(2) > div:hover,
.photosFromHome > div:nth-child(3):hover,
.pictureAddingArea > div:first-child:hover,
.closeDragDrop:hover,
.privacy > div:nth-child(1) > div:hover,
.closeFormButton:hover,
.thirdContainer > div:nth-child(2) > div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
