*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #18191a;
}
